win32/snes9xw.VC.VC.opendb
win32/snes9xw.VC.db
win32/Win32/Debug/Snes9X.tlog/CL.command.1.tlog
win32/Win32/Debug/Snes9X.tlog/CL.read.1.tlog
win32/Win32/Debug/Snes9X.tlog/CL.write.1.tlog
win32/Win32/Debug/Snes9X.tlog/Snes9X.lastbuildstate
win32/Win32/Debug/Snes9X.tlog/unsuccessfulbuild
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86.9.26.1590.nupkg
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D2D1.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D2D1Helper.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D2DBaseTypes.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D2Derr.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D10.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D10_1.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D10_1shader.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D10effect.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D10shader.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D11.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D11SDKLayers.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3D11Shader.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX10.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX10core.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX10math.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX10math.inl
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX10mesh.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX10tex.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX11.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX11async.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX11core.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3DX11tex.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3Dcommon.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/D3Dcompiler.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/DWrite.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/DXGI.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/DXGIFormat.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/DXGIType.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/Dcommon.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/DxErr.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/PIXPlugin.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/X3DAudio.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/XAPO.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/XAPOBase.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/XAPOFX.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/XAudio2.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/XAudio2fx.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/XDSP.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/XInput.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/audiodefs.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/comdecl.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3d10misc.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3d10sdklayers.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3d9.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3d9caps.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3d9types.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx10async.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9anim.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9core.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9effect.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9math.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9math.inl
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9mesh.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9shader.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9shape.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9tex.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/d3dx9xof.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/ddraw.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dinput.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dinputd.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dsconf.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dsetup.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dsound.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dvp.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dxdiag.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dxerr9.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dxfile.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/dxsdkver.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/gameux.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/multimon.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/rmxfguid.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/rmxftmpl.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/rpcsal.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/xact3.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/xact3d3.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/xact3wb.h
win32/packages/DXSDK_March09_x86.9.26.1590/DXSDK_March09_x86/xma2defs.h
win32/packages/NVIDIA_Cg_x86.3.1.13/NVIDIA_Cg_x86.3.1.13.nupkg
win32/packages/NVIDIA_Cg_x86.3.1.13/NVIDIA_Cg_x86/Cg/cg.h
win32/packages/NVIDIA_Cg_x86.3.1.13/NVIDIA_Cg_x86/Cg/cgD3D10.h
win32/packages/NVIDIA_Cg_x86.3.1.13/NVIDIA_Cg_x86/Cg/cgD3D11.h
win32/packages/NVIDIA_Cg_x86.3.1.13/NVIDIA_Cg_x86/Cg/cgD3D9.h
win32/packages/NVIDIA_Cg_x86.3.1.13/NVIDIA_Cg_x86/Cg/cgGL.h
win32/packages/NVIDIA_Cg_x86.3.1.13/NVIDIA_Cg_x86/GL/glut.h
win32/packages/NuGet.CommandLine.3.4.3/NuGet.CommandLine.3.4.3.nupkg
win32/packages/libpng.1.6.26.1/build/configurations.autopkg
win32/packages/libpng.1.6.26.1/build/native/default-propertiesui.xml
win32/packages/libpng.1.6.26.1/build/native/docs/libpng-manual.txt
win32/packages/libpng.1.6.26.1/build/native/include/png.h
win32/packages/libpng.1.6.26.1/build/native/include/pngconf.h
win32/packages/libpng.1.6.26.1/build/native/include/pnglibconf.h
win32/packages/libpng.1.6.26.1/build/native/libpng-propertiesui-d1a948c6-522c-4f39-860c-db0ffcb34d80.xml
win32/packages/libpng.1.6.26.1/build/native/libpng.targets
win32/packages/libpng.1.6.26.1/build/publisher-info.txt
win32/packages/libpng.1.6.26.1/libpng.1.6.26.1.nupkg
win32/packages/libpng.redist.1.6.26.1/build/configurations.autopkg
win32/packages/libpng.redist.1.6.26.1/build/native/default-propertiesui.xml
win32/packages/libpng.redist.1.6.26.1/build/native/libpng.redist.targets
win32/packages/libpng.redist.1.6.26.1/build/publisher-info.txt
win32/packages/libpng.redist.1.6.26.1/libpng.redist.1.6.26.1.nupkg
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/allocators.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/document.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/encodedstream.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/encodings.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/error/en.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/error/error.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/filereadstream.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/filestream.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/filewritestream.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/biginteger.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/diyfp.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/dtoa.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/ieee754.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/itoa.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/meta.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/pow10.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/stack.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/strfunc.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/internal/strtod.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/memorybuffer.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/memorystream.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/msinttypes/inttypes.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/msinttypes/stdint.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/prettywriter.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/rapidjson.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/reader.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/stringbuffer.h
win32/packages/rapidjson.beta.1.0.0/RA_Integration/rapidjson/include/rapidjson/writer.h
win32/packages/rapidjson.beta.1.0.0/rapidjson.beta.1.0.0.nupkg
win32/packages/zlib.1.2.8.8/zlib.1.2.8.8.nupkg
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/crc32.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/deflate.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/gzguts.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inffast.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inffixed.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inflate.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inftrees.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/trees.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/zconf.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/zlib.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/zutil.h
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.targets
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.x64.targets
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.x86.targets
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/license/LICENSE
win32/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8.nupkg
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/crc32.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/deflate.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/gzguts.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inffast.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inffixed.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inflate.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/inftrees.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/trees.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/zconf.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/zlib.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/include/zutil.h
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.targets
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.x64.targets
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.x86.targets
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/license/LICENSE
win32/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8.nupkg
win32/snes9xw.sln
win32/snes9xw.vcxproj
